In [ ]:
# Import the required libraries and dependencies.

In [ ]:
# Collect the Data

In [ ]:
# API data crpyto historical pricing

In [ ]:
# Import into a csv file and create a DataFrame

In [ ]:
# Use head function to confirm that Pandas imported the data

In [ ]:
# Prepare the Data

In [ ]:
# DataFrame, replace or drop all NaN, or missing, values in the DataFrame.

In [ ]:
# Use the str.replace function to remove the dollar signs ($) from the values in the Close column.

In [ ]:
# Convert the data type of the Close column to a float.#

In [ ]:
# Review the data for duplicated values, and drop them if necessary.

In [ ]:
# Analyze the Data

In [ ]:
# Choose columns of data on which to focus your analysis.

In [ ]:
# Get summary statistics and plot the data.

In [ ]:
# Create a line plot for the coinbase DataFrame for the full length of time in the dataset 
# Be sure that the figure size, title, and color are tailored to each visualization

In [ ]:
# Focus Your Analysis on Specific Dates