In [5]:
# Import the required libraries and dependencies
import cbpro
import json
import requests
import time
from datetime import datetime,timedelta
import pandas as pd
import numpy as np
c = cbpro.PublicClient()
from dotenv import load_dotenv

In [6]:
historical = pd.DataFrame(c.get_product_historic_rates(product_id='BTC-USD'))
historical.columns= ["Date","Open","High","Low","Close","Volume"]
historical['Date'] = pd.to_datetime(historical['Date'], unit='s')
historical.set_index('Date', inplace=True)
historical.sort_values(by='Date', ascending=True, inplace=True)
historical

/Users/brian/opt/anaconda3/envs/dev/lib/python3.7/site-packages/cryptography/hazmat/backends/openssl/x509.py:17: CryptographyDeprecationWarning: This version of cryptography contains a temporary pyOpenSSL fallback path. Upgrade pyOpenSSL now.
  utils.DeprecatedIn35,

                         Open      High       Low     Close     Volume
Date
2022-10-11 20:07:00  18995.97  19001.62  18996.31  18999.10   7.749913
2022-10-11 20:08:00  18995.46  19005.40  18999.10  18999.66   6.853454
2022-10-11 20:09:00  18997.22  19002.00  18998.94  19000.86  22.867556
2022-10-11 20:10:00  18995.50  19002.00  19000.64  19001.81  12.176521
2022-10-11 20:11:00  18999.49  19004.39  19001.12  19003.29  12.659923
...                       ...       ...       ...       ...        ...
2022-10-12 01:02:00  19074.78  19086.25  19079.26  19080.72  17.176027
2022-10-12 01:03:00  19073.65  19083.46  19081.55  19075.56  10.099222
2022-10-12 01:04:00  19072.29  19081.42  19076.29  19073.37  17.315256
2022-10-12 01:05:00  19069.52  19081.58  19073.36  19069.76  18.609165
2022-10-12 01:06:00  19068.21  19078.38  19070.42  19075.40  14.682311

[300 rows x 5 columns]