In [1]:
# Import the required libraries and dependencies
import yfinance as yf
import json
import requests
import time
import csv
from datetime import datetime
import pandas as pd
import numpy as np
from dotenv import load_dotenv

In [21]:
BTC_Ticker = yf.Ticker("BTC-USD")
BTC_Data = BTC_Ticker.history(period="5y")

BTC_5Y.df = BTC_Data

BTC_5Y.df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-10-13 00:00:00+00:00,5464.160156,5840.299805,5436.850098,5647.209961,3615480064,0,0
2017-10-14 00:00:00+00:00,5643.529785,5837.700195,5591.640137,5831.790039,1669030016,0,0
2017-10-15 00:00:00+00:00,5835.959961,5852.479980,5478.609863,5678.189941,1976039936,0,0
2017-10-16 00:00:00+00:00,5687.569824,5776.229980,5544.209961,5725.589844,2008070016,0,0
2017-10-17 00:00:00+00:00,5741.580078,5800.350098,5472.720215,5605.509766,1821570048,0,0
...,...,...,...,...,...,...,...
2022-10-09 00:00:00+00:00,19417.478516,19542.539062,19349.259766,19446.425781,16837262532,0,0
2022-10-10 00:00:00+00:00,19446.416016,19515.466797,19102.978516,19141.484375,27425022774,0,0
2022-10-11 00:00:00+00:00,19139.000000,19241.960938,18925.603516,19051.417969,28711532910,0,0
2022-10-12 00:00:00+00:00,19052.646484,19203.199219,19029.757812,19157.445312,24950173846,0,0
2022-10-13 00:00:00+00:00,19153.546875,19163.919922,19033.214844,19033.214844,24845981696,0,0

In [32]:
fields = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'] 
    
# data rows of csv file 
    
# name of csv file 
filename = "../Bitcoin_Data.csv"
    
# writing to csv file 
with open(filename, 'w') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
        
    # writing the fields 
    csvwriter.writerow(fields)